.register__input{
    max-width: 358px;
    margin: 0 auto 30px;
    border:0;
    border-bottom: 1px solid rgb(255, 254, 254);
    width: 100%;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: black;
    color: white;
}
@media (max-width:768px){
    .register__input{
        max-width: 238px;
    }
}
.register__input::placeholder {
    color: #ccc;
    }