.header__logo{
    margin-bottom: 41px;
    display: block;
}
@media (max-width:900px) {
    .header__logo{
        width: 103.74px;
        height: 24.4px;
        margin-bottom: 31.61px;
        margin-left: 27px;
    }
}