.popup__save-button{
    margin-top: 18px;
    margin-bottom: 37px;
    margin-left: 36px;
    margin-right: 36px;
    background-color: #000;
    border: 0px;
    border-radius: 2px;
    min-height: 50px;
    min-width: 358px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.popup__save-button:hover{
    opacity: 0.8;
    background: #000;
    cursor: pointer;
}
@media (max-width:768px){
    .popup__save-button{
        min-width: 238px;
        min-height: 46px;
        margin-left: 22px;
        margin-right: 22px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
    }
}