.card__like-button{
    width: 22px;
    height: 19px;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    background-color: unset;
    background-position: center;
    border: 0;
    box-sizing: border-box;
    align-self: center;
}
.card__like-button:hover{
    opacity: 0.5;
    transition-duration: 1s;
    cursor: pointer;
}