.register__signin{
    margin: 0 auto;
    background-color: #000;
    border: 0px;
    border-radius: 2px;
    min-height: 50px;
    min-width: 358px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    align-content:center;
    color: #FFFFFF;
}
.register__signin:hover{
    opacity: 0.8;
    background: #000;
    cursor: pointer;
}
@media (max-width:768px){
    .register__signin{
        min-width: 238px;
        min-height: 46px;
        font-size: 10px;
        line-height: 12px;
    }
}