.tooltip__container {
    min-height: 330px;
    text-align: center;
    color: black;
  }
  
  @media screen and (max-width: 500px) {
    .tooltip__container {
      width: 280px;
      min-height: 308px;
    }
  }