.popup_add{
    display: flex;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    transition: opacity 0.9s, visibility 0.9s ease;
    opacity: 0;
    visibility: hidden;
}